.App {
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 30%;
  margin: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  padding: 10px;
  background-color: #f8f8f8;
  font-size: 16px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay img {
  max-width: 80%;
  max-height: 80%;
  border: 5px solid white;
}